.link{
    display: block;
    cursor: pointer;
    color: #222;
    text-decoration: none;
    padding: 10px 15px;
    font-weight: bold;
    text-decoration: none;
}

.link:hover{
    color: #eb5424;
}
        
    
